$altura: 200px;
$anchura: 200px;

// OPERACIONES //
header {
    height: $altura * 3;
    width: $anchura * 2;
    nav {
    width: $anchura / 2;
    height: $altura / 2;
    div p {
        width: ($anchura / 2) + 20;
        height: ($altura / 2) + 20;
        }
    }
}

// CONDICIONALES // 
header {
    @if $altura == $anchura {
        background-color: blue;
    }
}

nav {
    @if $altura == $anchura {
        background-color: red;
    }
}

div p {
    @if $altura == $anchura  {
        background-color: cyan;
    }
}

main section {
@for $i from 1 through 5 {
    h#{$i} {
        font-size: 20px * $i;
        background-color: black;
    }
    }
}

$redes:(
    mail: rgb(204, 63, 105),
    instagram: rgb(174, 16, 206),
    snapchat: rgb(235, 232, 81),
    );

@each $nombre-redes, $color-redes in $redes {
    .btn-#{$nombre-redes} {
        background-color: $color-redes;
    }
}