header {
  height: 600px;
  width: 400px; }
  header nav {
    width: 100px;
    height: 100px; }
    header nav div p {
      width: 120px;
      height: 120px; }

header {
  background-color: blue; }

nav {
  background-color: red; }

div p {
  background-color: cyan; }

main section h1 {
  font-size: 20px;
  background-color: black; }

main section h2 {
  font-size: 40px;
  background-color: black; }

main section h3 {
  font-size: 60px;
  background-color: black; }

main section h4 {
  font-size: 80px;
  background-color: black; }

main section h5 {
  font-size: 100px;
  background-color: black; }

.btn-mail {
  background-color: #cc3f69; }

.btn-instagram {
  background-color: #ae10ce; }

.btn-snapchat {
  background-color: #ebe851; }
